.login-base-node {
  position: absolute;
  height: 82px;
  width: 82px;
  text-align: center;
  border-radius: 50%;
  padding: 15px 0;
  color: #fff;
  .icon-box {
    height: 27px;
    width: 100%;
    text-align: center;
    margin-bottom: 8px;
    .iconfont {
      font-size: 20px;
    }
  }
  .text-box {
    display: block;
    height: 20px;
    font-size: 12px;
  }
}
.account {
  position: absolute;
  font-size: 12px;
  width: 50px;
  height: 22px;
  line-height: 22px;
  color: #333333;
  text-align: center;
  background: #EBEBEB;
  border-radius: 80px;
}
.circle-border {
  background: #FFFFFF;
  border: 0 solid #D9D9D9;
  box-shadow: 0 2px 2px 0 rgba(0,112,204,0.06);
  font-size: 12px;
  color: #333333;
  text-align: center;
  .text-box2 {
    width: 100%;
    height: 100%;
    line-height: 52px;
    span {
      display: block;
      height: 20px;
    }
  }
  .line-height {
    line-height: 30px;
  }
}
.deep-green {
  background: #36CFC9;
}
.simple-green {
  background: #73D13D;
}
.blue {
  background: #40A9FF;
}
.purple {
  background: #9254DE;
}