@butterfly-theme-color-base:#fff;
@butterfly-normal-font-color-base:#222;;
@butterfly-overlay-font-color-base:#FFF;
@butterfly-primary-color-base:#F66902;
@butterfly-box-border-color-base: #D9D9D9;
@butterfly-box-shadow-base:0 2px 3px 0 rgba(0,112,204,0.06);
@butterfly-box-radius-base:100px;
@butterfly-line-color-base: #BFBFBF;
// 主题背景色（画布背景色）
@butterfly-theme-background-color: @butterfly-theme-color-base;
// （各图形框）普通情况背景色
@butterfly-theme-color: fade(@butterfly-theme-color-base,80%);
// 主题色
@butterfly-primary-color: @butterfly-primary-color-base;
// 普通情况下字体颜色
@butterfly-normal-font-color: @butterfly-normal-font-color-base;
// 主题背景色上的字体颜色及icon颜色
@butterfly-overlay-font-color: @butterfly-overlay-font-color-base;
// 拖动时的背景色
@butterfly-box-move-background-color: fade(@butterfly-primary-color, 20%);
// 边框的样式
@butterfly-box-border: 1px solid @butterfly-box-border-color-base;
@butterfly-box-shadow: @butterfly-box-shadow-base;
@butterfly-box-radius: @butterfly-box-radius-base;
@butterfly-box-node-border-hover: 1px solid @butterfly-primary-color;
// 线条样式
@butterfly-line-color: @butterfly-line-color-base;
