.center-new-node {
  position: absolute;
  .name-box {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 60px;
    border-radius: 50%;
    font-size: 12px;
    border: 1px solid #D9D9D9;
    box-shadow: 0 2px 3px 0 rgba(0,112,204,0.06);
  }
  .simple-blue {
    background: #40A9FF;
  }
}
