.iot-node {
  position: absolute;
  width: 110px;
  height: 64px;
  .title {
    height: 28px;
    line-height: 28px;
    color: #fff;
    padding: 0 5px;
    border-radius: 8.04px 8.04px 0 0;
    &.purple {
      background: #9254DE
    }
    &.blue {
      background: #40A9FF;
    }
    &.drak-blue {
      background: #597EF7;
    }
    .icon-class {
      vertical-align: bottom;
      margin-right: 5px;
    }
  }
  .content {
    height: 32px;
    line-height: 32px;
    padding: 0 8px;
    background: #fff;
    border-radius: 0 0 8.04px 8.04px;
    font-size: 12px;
    color: #333333;
    text-align: center;
  }
  .expand-btn {
    position: absolute;
    bottom: -17px;
    left: 46px;
    height: 10px;
    width: 20px;
    line-height: 8px;
    text-align: center;
    border-radius: 30%;
    background: #fff;
    cursor: pointer;
  }
}