.policy-base-node {
  position: absolute;
  height: 36px;
  min-width: 80px;
  line-height: 36px;
  text-align: center;
  background: #fff;
  border-radius: 51px;
  border: 1px solid #D9D9D9;
  box-shadow: 0 2px 3px 0 rgba(0,112,204,0.06);
  .icon-box {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 30px;
    border-radius: 15px;
    position: relative;
    left: 2px;
    .iconfont {
      color: #fff;
    }
  }
  .text-box {
    display: inline-block;
    height: 30px;
    min-width: 50px;
    padding: 0 10px;
    line-height: 30px;
  }
  .green {
    background: #73D13D;
  }
  .simple-blue {
    background: #40A9FF;
  }
  .deep-blue {
    background: #597EF7;
  }
  .orange {
    background: #FFA940;
  }
  .simple-yellow {
    background: #FFC53D;
  }
  .gray {
    background: #909090;
  }
  .deep-green {
    background: #36CFC9;
  }
  .purple {
    background: #9254DE;
  }
  .pink {
    background: #F759AB;
  }
}