.code-box {
 .editor {
   float: right;
   width: calc(100% - 120px);
   display: flex;
   height: calc(100vh - 60px);

   .code-editor {
     width: 50%;
     border-right: #ebedf0 1px solid;
   }

   .demo {
     width: 50%;
   }

   #demo-div {
     border: none;
   }
 } 
}