.indented-tree-canvas {
  .rule-node {
    position: absolute;
    .rule-select {
      padding: 4px 2px;
      border-radius: 4px;
      border: 1px solid #ccc;
    }
    .rule-text {
      display: inline-block;
      width: 100px;
      margin-left: 5px;
      white-space:nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &.text-right {
        position: absolute;
        top: 4px;
        right: -160px;
        width: 150px;
        display: inline-block;
      }
    }
  }
}