.emergency2-page {
  width: 100%;
  height: 100%;
  .emergency2-canvas {
    width: 100%;
    height: 100%;
  }
  .emergency2-base-node {
    position: absolute;
    text-align: center;
    background: #fff;
    vertical-align: middle;
    border-radius: 5px;
    line-height: 28px;
    .top{
      top: -3px;
      left: -3%;
    }
    .right{
      top: -3px;
      right: -3px;
    }
    .bottom{
      bottom: -3px;
      right: -3px;
    }
    .left{
      bottom: -3px;
      left: -3px;
    }
    border: 1px solid #D9D9D9;
    box-shadow: 0 2px 3px 0 rgba(0,112,204,0.06);
  }
  .rect {
    border-radius: 80px;
  }

  .test-base-link{
    stroke: #4b4f6b;
    stroke-width: 3px;
  }
  .text {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    display: -webkit-box;    
    -webkit-box-orient: vertical;    
    -webkit-line-clamp: 3;    
    overflow: hidden;
    font-size: 12px;
  }
  .label {
    position: absolute;
    font-size: 12px;
    width: 30px;
    height: 18px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    background: #EBEBEB;
    border-radius: 80px;
  }
}