#root {
  height: 100%;
}

#bf-layout .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#bf-layout .trigger:hover {
  color: #1890ff;
}

#bf-layout .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
  color: white;
  text-align: center;
  line-height: 32px;
  font-weight: border;
}

.site-layout .site-layout-background {
  background: #fff;
  overflow: hidden;
}

.node {
  box-shadow: 5px 5px 10px #eee;
  background: white;

  .header {
    padding: 10px;
    width: 250px;
    color: white;
  }

  .content {
    padding: 10px;

    .history {
      padding: 5px 0;
      color: grey;
      font-size: 12px;
      border-top: 1px solid #eee;
      margin-top: 10px;
    }
  }
}

.label {
  width: 30px;
  height: 30px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
  position: relative;
  outline: none;
  border: none;
  color: #f5bc21;
  text-align: center;
  line-height: 30px;
  font-size: 25px;
}
