.ruleTree-canvas {
  .rule-node {
    position: absolute;
    height: 35px;
    .text {
      display: inline-block;
      white-space:nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
    }
    .iconfont {
      cursor: pointer;
    }
  }
}
