.flow-page {
  height: 100%;
  width: 100%;
  .flow-canvas {
    position: relative;
    height: 100%;
    width: 100%;
  }
  .label {
    position: absolute;
    font-size: 20px;
  }
  .rotate-left {
    transform: rotate(-90deg);
  }
  .rotate-down {
    transform: rotate(180deg);
  }
  .rotate-right {
    transform: rotate(90deg);
  }
}