.flow-base-node {
  position: absolute;
  width: 88px;
  height: 88px;
  padding: 5px;
  padding: 16px 0;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-shadow: 0 2px 3px 0 rgba(0,112,204,0.06);
  border-radius: 8px;
  .logo-containe { 
    width: 30px;
    height: 30px;
    background: #597EF7;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 8px;
    .iconfont {
      color: #fff;
    }
  }
  .text {
    font-size: 12px;
    color: #333333;
    text-align: center;
  }
}