@butterfly-theme-color-base:#fff;
@butterfly-normal-font-color-base:#222;;
@butterfly-overlay-font-color-base:#FFF;
@butterfly-primary-color-base:#F66902;
@butterfly-box-border-color-base: #D9D9D9;
@butterfly-box-shadow-base:0 2px 3px 0 rgba(0,112,204,0.06);
@butterfly-box-radius-base:100px;
@butterfly-line-color-base: #BFBFBF;
// 主题背景色（画布背景色）
@butterfly-theme-background-color: @butterfly-theme-color-base;
// （各图形框）普通情况背景色
@butterfly-theme-color: fade(@butterfly-theme-color-base,80%);
// 主题色
@butterfly-primary-color: @butterfly-primary-color-base;
// 普通情况下字体颜色
@butterfly-normal-font-color: @butterfly-normal-font-color-base;
// 主题背景色上的字体颜色及icon颜色
@butterfly-overlay-font-color: @butterfly-overlay-font-color-base;
// 拖动时的背景色
@butterfly-box-move-background-color: fade(@butterfly-primary-color, 20%);
// 边框的样式
@butterfly-box-border: 1px solid @butterfly-box-border-color-base;
@butterfly-box-shadow: @butterfly-box-shadow-base;
@butterfly-box-radius: @butterfly-box-radius-base;
@butterfly-box-node-border-hover: 1px solid @butterfly-primary-color;
// 线条样式
@butterfly-line-color: @butterfly-line-color-base;

.entity-page {
  width: 100%;
  height: 100%;

  .entity-canvas {
    width: 100%;
    height: 100%;
  }

  .entity-base-node {
    position: absolute;
    text-align: center;
    background: @butterfly-theme-color;
    vertical-align: middle;
    border-radius: 5px;
    line-height: 3;
    border: @butterfly-box-border;
  }

  .butterflies-link {
    stroke-width: 1px;
  }
  .box-background-color{
    background-color: @butterfly-primary-color;
    fill:#f00;
    stroke: aqua;
  }

  .circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  .diamond {
    .text {
      font-size: 14px;
      color: @butterfly-normal-font-color;
      text-align: center;
    }
    width: 70px;
    height: 70px;
    transform: rotate(45deg);
    border-radius: 0px;
    line-height: 5;
    background-color: @butterfly-theme-color;
    .rotate {
      transform: rotate(-45deg) translateX(-3%) translateY(-72%);
    }
   
  }
  
  .rect {
    width: 137px;
    height: 42px;
    border-radius: 6px;
  }

  .transparent {
    background: transparent;
  }

  .ellipse {
    border-radius: 50%;
    height: 42px;
    width: 82px;
  }

  .ellipse-border {
    border-radius: 50%;
    height: 45px;
    width: 95px;
  }

  .triangle {
    width: 100px;
    height: 50px;
    background-color: transparent;
    fill: @butterfly-theme-color;
    stroke: @butterfly-box-border-color-base;
    border:none;
    stroke-width:1
  }

  .dashed {
    border-style: dashed;
  }

  .solid {
    border-style: solid;
  }

  .text {
    color: @butterfly-overlay-font-color;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    -webkit-box-pack: center;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .triangle-text {
    font-size: 14px;
    top: 40%;
    color: @butterfly-normal-font-color;
  }

  .label {
    position: absolute;
    width: 38px;
    height: 22px;
    background: @butterfly-theme-color;
    text-align: center;
    border-radius: 100px;
  }
}