.fruchterman-node {
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  border: @butterfly-box-border;
  color:@butterfly-overlay-font-color;
  background-color: @butterfly-primary-color;
}